<template>
	<!-- =========================
        START BANNER SECTION
    ============================== -->
    <section class="banner_area_type2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_area_type2_content text-center">
                        <p v-text="__('LA RISTRUTTURAZIONE CHE LA TUA CASA VUOLE')"></p>
                        <h2 v-text="__('Richiedi un preventivo gratuito')"></h2>
                        <h3>
                        	<span v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue,')"></span>
                            <br> 
                            <span v-text="__('lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.')"></span>
                            <br> 
                            <span v-text="__('Nunc dolor augue, lobortis nec hendrerit.')"></span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =========================
        END BANNER SECTION
    ============================== -->
</template>