<template>
    <div>
        <!-- =========================
            START BANNER SECTION
        ============================== -->
        <section class="banner_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="banner_left">
                            <p v-text="__('SIAMO LEADER IN ITALIA')"></p>
                            <h2><span v-text="__('Ristruttura la tua casa')"></span> <br> <span v-text="__('con noi!')"></span></h2>
                            <h3 v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.')"></h3>
                            <ul>
                                <li>Lorem ipsum dolor sit amet </li>
                                <li>Lorem ipsum dolor sit amet </li>
                                <li>Lorem ipsum dolor sit amet </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="banner_right">
                            <div class="banner_checkbox">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="checkbox" id="test1" v-model="checked1" :checked="checked1 == true ? true : false"
                                               @click="checkFirst()"/>
                                        <label for="test1" :class="{showshawdow : checked1 == 1 ? true : false}">
                                            <img :src="core.Asset_Path+'images/banner-ic1.png'" alt="">
                                        </label>
                                        <!--<span>Residenziale <br> <b>APPARTAMENTI E CASE</b></span>-->
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" id="test2" v-model="checked2" :checked="checked2 == true ? true : false"
                                               @click="checkSecond()"/>
                                        <label for="test2"  :class="{showshawdow : checked2 == true ? true : false}">
                                            <img :src="core.Asset_Path+'images/banner-ic2.png'" alt="">
                                        </label>
                                        <!--<span>da 330€/mq</span>-->
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" id="test3" v-model="checked3" :checked="checked3 == true ? true : false"
                                               @click="checkThird()"/>
                                        <label for="test3" :class="{showshawdow : checked3 == true ? true : false}">
                                            <img :src="core.Asset_Path+'images/banner-ic3.png'" alt="">
                                        </label>
                                        <!--<span></span>-->
                                    </div>
                                </div><div class="row">
                                    <div class="col-sm-4">
                                        <span class="_ttl" v-text="__(checkTitleOne)"></span>
                                        <span class="_slgn"  v-text="__(checkSlogunOne)"></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="_ttl" >{{ checkTitleTwo }}</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <br>
                                        <a href="#"><span v-text="__(checkTitleThree)"></span> <i class="material-icons">arrow_forward</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END BANNER SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 1,
                checkTitleOne: 'Residenziale',
                checkSlogunOne: 'APPARTAMENTI E CASE',
                checkTitleTwo: 'da 330€/mq',
                checkTitleThree: 'COSA FACCIAMO',
                checked1: true,
                checked2: false,
                checked3: false,

            }
        },
        methods: {
            checkFirst: function(){
                this.selectAMb = 1;
                if(this.checked1 == true){
                    this.checked1 = false;
                    this.checkTitleOne = 'Residenziale';
                    this.checkSlogunOne = 'APPARTAMENTI E CASE';
                }else{
                    this.checked1 = true;
                    this.checkTitleOne = 'Residenziale 2';
                    this.checkSlogunOne = 'APPARTAMENTI E CASE 2';
                }
                
                
            },
            checkSecond: function(){
                this.selectAMb = 2;
                if(this.checked2 == true){
                    this.checked2 = false;
                    this.checkTitleTwo = 'da 330€/mq';
                }else{
                    this.checked2 = true;
                    this.checkTitleTwo = 'da 340€/mq';
                }
                
            },
            checkThird: function(){
                this.selectAMb = 3;
                if(this.checked3 == true){
                    this.checked3 = false;
                    this.checkTitleThree = 'COSA FACCIAMO';
                }else{
                    this.checked3 = true;
                    this.checkTitleThree = 'COSA FACCIAMO 2';
                }
                
            }
        }
    }
</script>
