<template>
    <div>
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <section class="recent_renovations_area">
            <div class="common_title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 v-text="__('PROGETTI RECENTI')"></h3>
                            <h2 v-text="__('Nuovi spazi da scroprire')"></h2>
                            <span class="dots"></span>
                            <p>
                                <span v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue,')"></span>
                                <br>
                                <span v-text="__('lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.')"></span>
                                <br>
                                <span v-text="__('Nunc dolor augue, lobortis nec hendrerit.')"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recent_renovations_desktop">
                <div class="container">
                    <div @click="blog1()" class="row pointer no-gutters">
                        <div class="col-sm-6 order-2 order-sm-1">
                            <div class="recent_renovations_inner">
                                <h3>APPARTAMENTO / SOGGIORNO</h3>
                                <h2>Ristruttrazione appartamento 90mq</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                <a href="javascript:void(0)">Scopri di più</a>
                                <a href="javascript:void(0)"><span>+</span></a>
                            </div>
                        </div>
                        <div class="col-sm-6 order-1 order-sm-2">
                            <div class="recent_renovations_img">
                                <img :src="core.Asset_Path+'images/renovations1.png'" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div @click="blog2()" class="row pointer no-gutters">
                        <div class="col-md-6 hide-xs">
                            <img :src="core.Asset_Path+'images/renovations2.png'" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-6 hide-xs">
                            <div class="recent_renovations_inner">
                                <h3>APPARTAMENTO / SOGGIORNO</h3>
                                <h2>Ristruttrazione appartamento 90mq</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                <a href="javascript:void(0)">Scopri di più</a>
                                <a href="javascript:void(0)"><span>+</span></a>
                            </div>
                        </div>
                    </div>
                    <div @click="blog3()" class="row pointer no-gutters">
                        <div class="col-md-6 hide-xs">
                            <div class="recent_renovations_inner">
                                <h3>APPARTAMENTO / SOGGIORNO</h3>
                                <h2>Ristruttrazione appartamento 90mq</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                <a href="javascript:void(0)">Scopri di più</a>
                                <a href="javascript:void(0)"><span>+</span></a>
                            </div>
                        </div>
                        <div class="col-md-6 hide-xs">
                            <img :src="core.Asset_Path+'images/renovations3.png'" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="recent_renovations_mobile">
                <div id="recent_renovations_slider" class="owl-carousel owl-theme">
                    <div @click="blog1()" class="pointer recent_renovations_slider_inner">
                        <div class="recent_renovations_img">
                            <img :src="core.Asset_Path+'images/renovations1.png'" class="img-fluid" alt="">
                        </div>
                        <div class="recent_renovations_inner">
                            <h3>APPARTAMENTO / SOGGIORNO</h3>
                            <h2>Ristruttrazione appartamento 90mq</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                            <a href="javascript:void(0)">Scopri di più</a>
                            <a href="javascript:void(0)"><span>+</span></a>
                        </div>
                    </div>
                    <div @click="blog2()" class="pointer recent_renovations_slider_inner">
                        <div class="recent_renovations_img">
                            <img :src="core.Asset_Path+'images/renovations1.png'" class="img-fluid" alt="">
                        </div>
                        <div class="recent_renovations_inner">
                            <h3>APPARTAMENTO / SOGGIORNO</h3>
                            <h2>Ristruttrazione appartamento 90mq</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                            <a href="javascript:void(0)">Scopri di più</a>
                            <a href="javascript:void(0)"><span>+</span></a>
                        </div>
                    </div>
                    <div @click="blog3()" class="pointer recent_renovations_slider_inner">
                        <div class="recent_renovations_img">
                            <img :src="core.Asset_Path+'images/renovations1.png'" class="img-fluid" alt="">
                        </div>
                        <div class="recent_renovations_inner">
                            <h3>APPARTAMENTO / SOGGIORNO</h3>
                            <h2>Ristruttrazione appartamento 90mq</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                            <a href="javascript:void(0)">Scopri di più</a>
                            <a href="javascript:void(0)"><span>+</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END RECENT RENOVATIONS SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        methods: {
            blog1: function(){
                this.$router.push('/blog1');
                // this.$router.push('/#blog1');
            },
            blog2: function(){
                this.$router.push('/blog2');
                // this.$router.push('/#blog2');
            },
            blog3: function(){
                this.$router.push('/blog3');
                // this.$router.push('/#blog3');
            }
        }
    }
</script>

<style scoped>
    .pointer{
        cursor: pointer !important;
    }
</style>
