<template>
    <div>
        <!-- =========================
            START TESTIMONIAL SECTION
        ============================== -->
        <section class="testimonial_area">
            <div class="common_title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 v-text="__('PROGETTI RECENTI')"></h3>
                            <h2 v-text="__('Nuovi spazi da scroprire')"></h2>
                            <span class="dots"></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, <br> lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Nunc dolor augue, lobortis nec hendrerit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="testimonail_slider" class="owl-carousel owl-theme">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="testimonial_text">
                                <img :src="core.Asset_Path+'images/icons quote mark.png'" alt="">
                                <h2 v-text="__('Matteo di Maglie')"></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                <p>/ Negozio “Bata” Milano Centro</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img :src="core.Asset_Path+'images/author.png'" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="testimonial_text">
                                <img :src="core.Asset_Path+'images/icons quote mark.png'" alt="">
                                <h2 v-text="__('Matteo di Maglie')"></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                <p>/ Negozio “Bata” Milano Centro</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img :src="core.Asset_Path+'images/author.png'" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="testimonial_text">
                                <img :src="core.Asset_Path+'images/icons quote mark.png'" alt="">
                                <h2>Matteo di Maglie</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                <p>/ Negozio “Bata” Milano Centro</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img :src="core.Asset_Path+'images/author.png'" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END TESTIMONIAL SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        mounted(){
            $(function(){
                var testimonail_slider = jQuery("#testimonail_slider");
                testimonail_slider.owlCarousel({
                    loop: true,
                    margin: 0,
                    lazyLoad:true,
                    center: true,
                    smartSpeed: 1500,
                    autoplay:false,
                    nav: false,
                    navText: ['<img src="'+core.Asset_Path+'images/arrow-left.png">','<img src="'+core.Asset_Path+'images/arrow-right.png">'],
                    dots:true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        400: {
                            items: 1
                        },
                        768: {
                            items: 1
                        },
                        1200: {
                            items: 1
                        }
                    }
                });
            });
        }
    }
</script>
