<template>
    <div>
        <!-- =========================
            START HEADER SECTION
        ============================== -->
        <header class="header_area">
            <div class="header_top">
                <div class="container header_container">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-4 order-sm-2 order-md-1">
                            <div class="header_top_inner">
                                <div class="header_top_img">
                                    <img :src="core.Asset_Path+'images/headericon1.png'" alt="">
                                </div>
                                <p> <b v-text="__('DOVE SIAMO')"></b> <br> <span><a href="javascript:void(0)" v-text="__('Simone in tutta Italia')"></a></span></p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 order-sm-1 order-md-2">
                            <div class="header_top_inner">
                                <div class="header_top_img">
                                    <img :src="core.Asset_Path+'images/headericon2.png'" alt="">
                                </div>
                                <p><b v-text="__('Chiamaci adesso!')"></b> <br> <span><a href="javascript:void(0)">800 33 33 30</a></span></p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 order-sm-3 order-md-3  d-none d-md-block">
                            <div class="header_top_inner">
                                <div class="header_top_img">
                                    <img :src="core.Asset_Path+'images/headericon3.png'" alt="">
                                </div>
                                <p><b v-text="__('Mandaci un\'email')"></b> <br> <span><a href="javascript:void(0)">info@ristrutturazionecase.com</a></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="cross_ic">
                        <img :src="core.Asset_Path+'images/cross.png'" alt="">
                    </div>
                </div>
            </div>
            <div class="container header_container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <router-link :to="'/'" class="navbar-brand" href="javascript:void(0)"><img :src="core.Asset_Path+'images/logo.png'" alt=""></router-link>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <router-link :to="'/ambienti'" class="nav-link" href="javascript:void(0)" v-text="__('AMBIENTI')"></router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="'/progetti'" class="nav-link" href="javascript:void(0)" v-text="__('I NOSTRI PROGETTI')"></router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="'/architect'" class="nav-link" href="javascript:void(0)" v-text="__('CHI SIAMO')"></router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="'/contact'" class="nav-link" href="javascript:void(0)" v-text="__('CONTATTACI')"></router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="'/il-tuo-architetto'" class="nav-link" href="javascript:void(0)" v-text="__('IL TUO ARCHITETTO')"></router-link>
                                    <span>1</span>
                                </li>
                            </ul>
                        </div>
                        <div class="ph"><a href="#"><img :src="core.Asset_Path+'images/phone.png'" alt=""></a></div>
                        <div class="lang_ic">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        style="background: transparent;border: none">
                                    <img :src="core.Asset_Path+'images/'+curFlag" alt="">
                                </button>
                                <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" @click="changeLang('en')"><img :src="core.Asset_Path+'images/lang.png'"> English</a>
                                    <a class="dropdown-item" @click="changeLang('it')"><img :src="core.Asset_Path+'images/lang1.png'"> Italiano</a>
                                    <a class="dropdown-item" @click="changeLang('de')"><img :src="core.Asset_Path+'images/lang2.png'"> Deutsch</a>
                                    <a class="dropdown-item" @click="changeLang('py')"><img :src="core.Asset_Path+'images/lang3.png'"> Pусский</a>
                                </div>
                            </div>
                        </div>
                        
                    </nav>
                </div>
            </div>
        </header>
        <!-- =========================
            END HEADER SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                flag : {
                    en : 'lang.png',
                    it : 'lang1.png',
                    de : 'lang2.png',
                    py : 'lang3.png',
                },
                curFlag : ''
            }
        },
        methods : {
            changeLang: function (lang) {
                this.curFlag = this.flag[lang];
                localStorage.lang = lang;
                this.$store.state.lang = lang;
            }
        },
        created(){
            this.curFlag = this.flag[this.$store.state.lang];
        }
    }
</script>

<style scoped>
    .navbar-nav .nav-link{
        padding: 15px !important;
    }
</style>
